.userlist_section {
  margin-top: 89px;
  padding-left: 8rem;
  width: 100%;
}

.ul_header {
  width: 97%;
  display: flex;
  justify-content: space-between;
}
.ul_header > .MuiInputBase-root {
  width: 100%;
}
.ul_table {
  width: 97%;
  margin-top: 3rem;
}

.ul_b1 {
  width: 200px;
}

.ul_table .MuiTableContainer-root {
  box-shadow: none;
  border: 1px solid #eceef3;
}

.ul_text_1 span {
  color: #3a485a;
  opacity: 0.6;
  font-weight: 500 !important;
}

.ul_text_1 strong {
  color: #3a485a;
  font-weight: 700 !important;
  font-size: 1.2rem !important;
}

.ul_table th {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
}

.ul_table thead tr th {
  font-size: 1rem;
}

.ul_table td {
  font-family: "Inter", sans-serif !important;
  color: #3a485a;
  font-weight: 700;
  font-size: 0.9rem;
}

.ul_pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5rem 0 !important;
  margin: 0 auto;
}

.ul_pagination .MuiPaginationItem-root {
  border-radius: 0 !important;
}

.ul_pagination .MuiPaginationItem-textPrimary.Mui-selected {
  background-color: #0075ff;
  box-shadow: 0px 12px 36px rgba(28, 28, 28, 0.12);
  border-radius: 5px;
}

.ul_pagination .MuiPaginationItem-icon {
  color: #0075ff;
}

@media screen and (max-width: 990px) {
  .userlist_section {
    padding-left: 0;
  }
  .ul_table {
    margin: 3rem auto 0 auto;
  }
  .ul_header {
    margin: 0 auto;
  }
}

@media screen and (max-width: 625px) {
  .ul_b1 {
    width: 180px;
  }
  .ul_b1 img {
    width: 48px;
  }
  .ul_b1 {
    width: 154px;
  }
  .ul_table .MuiTable-root {
    min-width: 200px;
  }
  .ul_text_1 strong {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 600px) {
  .ul_table {
    margin: 0 auto;
  }
  .ul_header {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    line-height: 6;
  }
}

@media screen and (max-width: 500px) {
  .ul_header {
    width: 92%;
  }
  .ul_header .makeStyles-inputInput-3 {
    width: 207px;
  }
}

@media screen and (max-width: 376px) {
  .ul_pagination {
    width: 98%;
    line-height: 3;
  }
  /* .ul_b1 {
    width: 180px;
  }
  .ul_b1 img {
    width: 48px;
  }
  .ul_b1 {
    width: 154px;
  }
  .ul_table .MuiTable-root {
    min-width: 200px;
  }
  .ul_text_1 strong {
    font-size: 1rem !important;
  } */
}

@media screen and (max-width: 368px) {
  .ul_table .MuiTable-root {
    min-width: 200px;
  }
  .ul_b1 {
    width: 122px;
  }
  .ul_b1 img {
    width: 33px;
  }
  .ul_text_1 strong,
  span {
    font-size: 0.8rem !important;
  }
  .ul_table td {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 353px) {
  .ul_pagination .MuiPagination-ul {
    width: 224px;
  }
}
