.user_indivisual_section {
  margin-top: 89px;
  margin-left: 8rem;
}

.uif_box {
    width: 90%;
    height: 300px;
    background: white;
    margin-top: 1rem;
}

.user_info_form {
    width: 100%;
}

.user_info_form > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user_info_form >div input {
    width: 300px;
    height: 35px;
    
}