/* filter component  */

.filters_container {
  width: 310px;
  padding: 20px 20px;
  box-shadow: 0px 2px 6px rgba(48, 44, 44, 0.12);
  border-radius: 12px;
  /* margin: 50px auto; */
  background-color: white;
}
.search_inp_div {
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #dedede;
  border-radius: 7px;
  display: flex;
  align-items: center;
}
.search_inp_div > input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 7px;
  color: black;
  width: 95%;
}
.search_inp_div > input::placeholder {
  color: black;
}
.price_range {
  margin-top: 20px;
}
.WithStyles\(ForwardRef\(Slider\)\)-rail-23 {
  height: 10px !important;
}
.range_lines_div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 15px;
  position: relative;
}
.r_1 {
  height: 10px;
  position: relative;
}
.r_2 {
  height: 20px;
}
.r_3 {
  height: 30px;
}
.r_4 {
  height: 40px;
}
.r_5 {
  height: 50px;
}
.r_6 {
  height: 60px;
}
.r_7 {
  height: 70px;
}
.r_8 {
  height: 80px;
}
.r_9 {
  height: 90px;
}
.r_10 {
  height: 100px;
}
.r_11 {
  height: 110px;
}
.r_12 {
  height: 120px;
}
.r_13 {
  height: 130px;
}

.range_lines_div > p {
  width: 5px;
  background-color: #dedede;
  border-radius: 10px;
  position: relative;
  top: 2px;
}

.margin_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.margin_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.margin_box > p,
.margin_counter > p {
  padding: 4px 0px;
  width: 55px;
  border: 1px solid #dedede;
  color: #0075ff;
  text-align: center;
  margin-top: 10px;
}
.margin_counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  /* border: 2px solid red; */
  margin-top: 15px;
}
.margin_counter > img {
  margin-top: 7px;
}
.margin_counter > img:hover {
  cursor: pointer;
}
.price_switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.img_price {
  display: flex;
  align-items: center;
}
.img_price > p {
  margin-left: 10px;
}
.viewing_option_div {
  margin-top: 30px;
}
.filter_tags_div {
  display: flex;
  justify-content: safe;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 5px 10px;
  max-height: 200px;
  overflow-y: auto;
  padding-bottom: 10px;
}
.filter_tags_div::-webkit-scrollbar {
  width: 8px;
}
.filter_tags_div::-webkit-scrollbar-thumb {
  background-color: #0075ff;
  border-radius: 10px;
}
.filter_tags_div::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
.filter_tag {
  background-color: #0075ff;
  color: white;
  padding: 5px 0px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: max-content;
  align-items: center;
  margin-right: 5px;
  margin-top: 10px;
}

.filter_tag > p {
  margin: 0px 8px;
}

.cros_tag {
  font-weight: 500;
  font-size: 1.2rem;

}

.filter_check > label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.filter_check p {
  margin-left: 10px;
  font-size: 0.9rem;
}
.MuiAccordionSummary-root.Mui-expanded {
  min-height: 20px !important;
}
.MuiAccordionSummary-content.Mui-expanded {
  margin: 10px 0 !important;
}

/* filter head component  */
.result_head_container{
  width: 100%;
}
.result_head_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(48, 44, 44, 0.12);
  border-radius: 6px;
  padding: 10px 20px;
  height: 70px;
  
}
.result_filter_div,.a_z_filter,.compare_switch_div,.low_to_high_filter{
  display: flex;
  align-items: center;
}
.result_filter_div{
  /* border: 2px solid red; */
  width: 50%;
  max-width: 500px;
  min-width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result_filter_div >p{
  color: #0075ff;
  font-size: .9rem;
}
.a_z_filter{
  width: 90px;
  justify-content: space-between;
}
.low_to_high_filter{
  width: fit-content;
  /* border: 2px solid red; */
}
.low_to_high_filter>select,.a_z_filter>select{
  border: none;
  outline: none;
  padding: 5px 0px;
}

.a_z_filter>select{
  width: 60px;
}
.low_to_high_filter>span{
  margin-left: 10px;
}
.compare_switch_div>div{
  margin-left: 15px;
}

@media screen and (max-width:830px){
  .result_head_div{
    padding: 10px;
    display: inherit;
    height: max-content;
  }
  .compare_switch_div{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .result_filter_div{
    min-width: 380px;
  }
  .result_filter_div >p{
    font-size: .8rem;
  }
}
@media screen and (max-width:700px){
  .result_head_div{
    display: none;
  }
}